static/bootstrap/*
__pycache__/
users/*
config.ini
users.sql3lite
application.sql3lite
/local
/local/__pycache__/
.venv
.venv/
backup
application2025_03_19_18_25.sql3lite
application2025_03_19_18_30.sql3lite
application2025_03_19_18_40.sql3lite
application2025_03_19_18_48.sql3lite
