{% macro def_RenderPageHeader(title,prefix,actions) %}
  <div>  
    <label class="h2">{{title}}</label>
    {%for action in actions %}
    {% if prefix != ""%}
      {%set action_name =  (prefix + "_" + action)|lower|replace(" ", "_")%}
    {% else %}
      {%set action_name =  action|lower|replace(" ", "_")%}
    {% endif %}
    <button type="submit" class="btn btn-primary  ms-3 float-end"  name="action" value="{{action_name}}">{{action}}</button>
    {% endfor %}
  </div>  
  <br>
  <br>
  {% endmacro %}

{# Render the input title info and the item element #}
{% macro def_RenderInputAttribute(input_title,input_type,action_name,default_value) %}
  <div class="form-group">
    {% if input_type != "HIDDEN" %}
      <label for="{{action_name}}">{{input_title}}:</label>
    {% endif %}
    {% if input_type == "INPUT_NEW_ONLY" %}
      <input type="text" class="form-control" id="{{action_name}}" name="{{action_name}}" value = "{{ default_value|default('') }}" {% if default_value is defined %} readonly{% endif %}>
    {% elif input_type == "INPUT" %}
      <input type="text" class="form-control" id="{{action_name}}" name="{{action_name}}" value = "{{ default_value|default('') }}">
    {% elif input_type == "PASSWORD" %}
      <input type="password" class="form-control" id="{{action_name}}" name="{{action_name}}" value = "{{ default_value|default('') }}">
    {% elif input_type == "TEXTAREA" %}
      <textarea type="textarea" class="form-control" id="{{action_name}}" name="{{action_name}}">{{ default_value|default('') }}</textarea>
    {% elif input_type == "HIDDEN" %}
    <input type="hidden" name="{{action_name}}" value="{{ default_value|default('') }}" ></input>
    {% elif input_type =="BUTTONLIST"%}
    <button type="submit" class=" btn btn-primary btn-sm  float-end" name="action" value="{{action_name}}">{{default_value}}</button>
    {% else %}
      <input type="text" class="form-control" id="{{action_name}}" name="{{action_name}}" value = "{{ default_value|default('') }}">
    {% endif %}
    <br>
  </div>
{% endmacro %}

{# Render the input element only#}
{% macro def_RenderInput(input_type,action_name,default_value) %}
{% if default_value is undefined %}
  {% set default_value = "" %}
{% endif %}
{% if input_type == "HOO_LOOKUP" %}
  {% set lookup_value = g.data_model.db_get_item("hoo",default_value)['name'] %}
  <input type="text" class="form-control" name="{{action_name}}" list="{{input_type}}" value = "{{lookup_value}}" />
  <datalist id="{{input_type}}">
  {% for data_item in g.data_model.db_get_list("hoo")%}
    <option>{{data_item['name']}}</option>
  {% endfor %}
  </datalist>
{% elif input_type == "AUDIO_LOOKUP" %}
  {% set lookup_value = g.data_model.db_get_item("audio", default_value)['name'] %}
  <div class="d-flex align-items-center">
    <input type="text" class="form-control me-2" name="{{action_name}}" list="{{input_type}}" value="{{lookup_value}}" />
    <datalist id="{{input_type}}">
      {% for data_item in g.data_model.db_get_list("audio")%}
        <option>{{data_item['name']}}</option>
      {% endfor %}
    </datalist>
    <button type="button" class="btn btn-secondary btn-sm" onclick="handleAudioLookup('{{action_name}}')">?</button>
  </div>
{% elif input_type == "SKILL_LOOKUP" %}
  {% set lookup_value = g.data_model.db_get_item("skill",default_value)['name']   %}
  <input type="text" class="form-control" name="{{action_name}}" list="{{input_type}}" value = "{{lookup_value}}" />
  <datalist id="{{input_type}}">
    {% for data_item in g.data_model.db_get_list("skill")%}
    <option>{{data_item['name']}}</option>
    {% endfor %}
  </datalist>
{% elif input_type == "ACTION_LOOKUP" %}
  <select class="" id="{{action_name}}" name="{{action_name}}" >
    {% for data_item in g.data_model.get_script_menu_actions()%}
    {% set data_line = data_item.split('|')%}
    <option value={{data_line[0]}}>{{data_line[1]}}</option>
    {% endfor %}
  </select>
  {% elif input_type == "BOOL" %}
  <br>
  <select  class="form-control" id="{{action_name}}" name="{{action_name}}" >
    <option value="true"  {%if default_value == "true"%}  selected {%endif%}>True</option>
    <option value="false" {%if default_value == "false"%} selected {%endif%}>False</option>
  </select>

  {% elif input_type == "QUEUE_ACTIONS" %}
  <select class="" id="{{action_name}}" name="{{action_name}}" >
    {% for data_item in g.data_model.get_script_menu_actions()%}
    {% set data_line = data_item.split('|')%}
    <option value={{data_line[0]}}>{{data_line[1]}}</option>
    {% endfor %}
  </select>   
  {% elif input_type == "DROPDOWN" %}
  <select class="form-select"  id="{{action_name}}" name="{{action_name}}" >
    {% for data_line in default_value.split('|')%}
      {% set data = data_line.split(',' )%}
      <option value={{data[0]}}>{{data[1]}}</option>
    {% endfor %}
  </select>
{% elif input_type == "STATE_LOOKUP" %}
  <div class="form-group">
    <label for={{action_name}}>{{action_name}}</label>
    <select class="form-control" id="{{action_name}}" name="{{action_name}}" value="{{ default_value }}">
      <option value="NONE">NONE</option>
      <option value="SA">SA</option>
      <option value="NSW">NSW</option>
    </select>
  </div>
{% elif input_type == "PASSWORD" %}
  <input type="password" class="form-control" id="{{action_name}}" name="{{action_name}}">
{% elif input_type =="TEXTAREA" %}
    <textarea class="form-control" id="{{action_name}}" name="{{action_name}}">{{default_value}}</textarea>
{% else %}
  <input type="text" class="form-control" id="{{action_name}}" name="{{action_name}}" value="{{default_value}}">
{% endif %}
{% endmacro %}

{# Render a list of items from the comma separated list #}
{% macro def_RenderList(input_type,item_list) %}
{% if item_list != None %}  
  {% set items = item_list.split(',') %}
    {% for param in items %}
      {{ g.data_model.db_get_value(input_type,"id",param,"name") }}<br>
    {% endfor %}
{% endif %}
{% endmacro %}

