{% extends 'base5.html' %}

{% block header %}
<form method='post' action="{{url_for('hoo.hoo')}}">
  {%if (g.item_selected == None) %}
    {{ common.def_RenderPageHeader("Hours of Operation","item",['Cancel','Create'])}}
  {% else %}
  {% set item = g.data_model.GetItem("hoo",g.item_selected) %}
    {%if item['external_id'] is not none %}
      {{ common.def_RenderPageHeader("Update Hours of Operation ","item",['Cancel','Update','Linked Details','Apply Holiday'])}}
    {% else %}
      {{ common.def_RenderPageHeader("Update Hours of Operation ","item",['Cancel','Update'])}}
    {% endif %}
  {% endif%}
{% endblock %}

{% block main_page %}
    <p>Note the the HOO settings are configured in CXone - create HOO to update you call flows</p>
   
    {% set item = g.data_model.GetItem("hoo",g.item_selected) %}
    {{ common.def_RenderInputAttribute(">ID","HIDDEN","id",item['id']) }}
    {{ common.def_RenderInputAttribute("Name","INPUT_NEW_ONLY","name",item['name']) }}
    {{ common.def_RenderInputAttribute("Daily Opening Hours (e.g Mon-Fri 9:00 - 17:00)","INPUT","daily_pattern",item['daily_pattern']) }}
    <div class="form-group">
      <label for="holiday_pattern">Holidays (Closed days):</label>
      <select class="form-control" id="holiday_pattern" name="holiday_pattern" value="{{item['holiday_pattern']}}">
        <option value="NONE" >None</option>
        <option value="SA" {%if item['holiday_pattern'] == "SA" %} selected {%endif%}>SA</option>
        <option value="NSW" {%if item['holiday_pattern'] == "NSW" %} selected {%endif%}>NSW</option>
        <option value="OTHER" {%if item['holiday_pattern'] == "OTHER" %} selected {%endif%}>Other (Update with Optus PS)</option>
      </select>
    </div>
    
    {{ common.def_RenderInputAttribute("Description","TEXTAREA","description",item['description']) }}
    <p>CXone external ID : {{ item['external_id'] }}</p>
  </form>
{% endblock %}
