{% extends 'base5.html' %}

{% block header %}
<form method="post"  >
  {{ common.def_RenderPageHeader("Hours Of Operation","",['Synchronise','Create'])}}
{% endblock %}

{% block main_page %}
  <p>WARNING: All hours of operation must exist in CXone before a project can be deployed </p>
  <p>Syncronise and merge Hoo so all call-flows map to a CXone Source</p>
  <br>
  <div class="container">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Notes</th>
            <th>Source</th>
            <th class="col-md-2">Actions</th>
          </tr>
        </thead>
        {% for item in g.data_model.db_get_list("hoo") %}
        <form method="post"> 
        <tbody>
          <tr>
            <input type="hidden" name="id" value="{{ item['id'] }}">
            <td>{{ item['name'] }}</td>
            <td>{{ item[description] }}</td>
            <td>{%if (item['external_id'] == None) or ((item['external_id']) == "" ) %}Internal{%else%}CXone{%endif%}</td>
            <td>
                <button type="submit" class="btn btn-link" name="action" value="delete">
                  <span class="bi bi-trash3"></span>
                </button>
                <button type="submit" class="btn btn-link"  name="action" value="edit">
                <span class="bi bi-pencil-fill"></span>
                </button>
                {%if (item['external_id'] == None) or (item['external_id'] == "" ) %}
                <button type="submit" class="btn btn-link" name="action" value="link">
                <span class="bi bi-link-45deg"></span>
                </button>
                {%endif%}
            </td>
          </tr>
        </tbody>
      </form> 
        {% endfor %}
      </table>
    </div>
  </div>
</form>
    

{% endblock %}
