{% extends 'base5.html' %}

{% block header %}
<form method='post' action="{{url_for('hoo.hoo')}}">
  {%if (g.item_selected == None) %}
    {{ common.def_RenderPageHeader("Hours of Operation","item",['Cancel','Create'])}}
  {% else %}
  {% set item = g.data_model.db_get_item("hoo",g.item_selected) %}
    {%if item['external_id'] is not none %}
      {{ common.def_RenderPageHeader("Update Hours of Operation ","item",['Cancel','Update','Linked Details','Apply Holiday'])}}
    {% else %}
      {{ common.def_RenderPageHeader("Update Hours of Operation ","item",['Cancel','Update'])}}
    {% endif %}
  {% endif%}
{% endblock %}

{% block main_page %}
    <p>Apply will apply holiday and opening hours from CX tools, check the linked detail before and after a push</p>
   
    {% set item = g.data_model.db_get_item("hoo",g.item_selected) %}
    {{ common.def_RenderInputAttribute(">ID","HIDDEN","id",item['id']) }}
    {{ common.def_RenderInputAttribute("Name","INPUT_NEW_ONLY","name",item['name']) }}
  
    <div class="card" >
      <b>
        <p class="card-header bg-primary-subtle border border-primary-subtle text-center" 
           style="margin: 0; padding: 10px;" 
           data-toggle="collapse" 
           data-target="#connection">
          Hours of operation opening hours
        </p>
      </b>
      <div class="card-body" >
        <br>
        <div class="form-group">
          {% set days = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"] %}
          {% for day in days %}
          <div class="form-group" style="display: flex; align-items: center; gap: 10px;">
          {% if item is not none and item['daily_pattern'] is not none and item['daily_pattern'] != "None" %}
            {% set day_start = item['daily_pattern'].split(",")[loop.index0].split("-")[0] %}
            {% set day_end = item['daily_pattern'].split(",")[loop.index0].split("-")[1] %}
            {% set day_closed = item['daily_pattern'].split(",")[loop.index0]== "Closed" %}
          {% else %}
            {% set day_start = "12:00 AM" %}
            {% set day_end = "12:00 AM" %}
          {% endif %}
          <span style="min-width: 120px; text-align: right;">{{day}}:</span>
          <select name="{{day}}_start" id="{{day}}_start" class="TimePicker OpenTime" style="width: 120px;" {% if day_closed == true %}disabled{%endif%} >
            {% for hour in range(0, 24) %}
              {% for minute in [0, 15, 30, 45] %}
              {% set time = "{:02d}:{:02d}".format(hour, minute) %}
              <option value="{{ time }}" {% if time == day_start %}selected{% endif %}>{{ time }}</option>
              {% endfor %}
            {% endfor %}
          </select>
           <span>-</span>
             <select name="{{day}}_end" id="{{day}}_end" class="TimePicker OpenTime" style="width: 120px;" {% if day_closed == true %}disabled{%endif%}>
             {% for hour in range(0, 24) %}
               {% for minute in [0, 15, 30, 45] %}
               {% set time = "{:02d}:{:02d}".format(hour, minute) %}
               <option value="{{ time }}" {% if time == day_end %}selected{% endif %}>{{ time }}</option>
               {% endfor %}
             {% endfor %}
             </select>
           <input id="{{day}}_closed" type="checkbox" name="{{day}}_closed" {% if day_closed %}checked {%endif%} onclick="SetupDayOfWeekRow('{{day}}');">
           <label for="{{day}}_closed">Closed All Day</label>
           </div>
           <br>
           {% endfor %}
        </div>
      </div>
    </div>
    <br>
    <div class="form-group">
      <label for="holiday_pattern">Holidays (Closed days):</label>
      <select class="form-control" id="holiday_pattern" name="holiday_pattern" value="{{item['holiday_pattern']}}">
        <option value="NONE" >None</option>
        <option value="SA" {%if item['holiday_pattern'] == "SA" %} selected {%endif%}>SA</option>
        <option value="NSW" {%if item['holiday_pattern'] == "NSW" %} selected {%endif%}>NSW</option>
        <option value="OTHER" {%if item['holiday_pattern'] == "OTHER" %} selected {%endif%}>Other (Update with Optus PS)</option>
      </select>
    </div>
    
    {{ common.def_RenderInputAttribute("Description","TEXTAREA","description",item['description']) }}
    <p>CXone external ID : {{ item['external_id'] }}</p>
  </form>

  
<script>
  document.addEventListener('DOMContentLoaded', () => {
    function SetupDayOfWeekRow(day) {
      console.log("SetupDayOfWeekRow", day);
      const startField = document.getElementById(`${day}_start`);
      const endField = document.getElementById(`${day}_end`);
      const closedCheckbox = document.getElementById(`${day}_closed`);

      if (closedCheckbox.checked) {
        startField.disabled = true;
        endField.disabled = true;
      } else {
        startField.disabled = false;
        endField.disabled = false;
      }
    }

    // Expose the function globally so it can be called from inline event handlers
    window.SetupDayOfWeekRow = SetupDayOfWeekRow;
  });
</script>

{% endblock %}
