{% extends 'base5.html' %}

{% block header %}
<form method="post"  >
  {{ common.def_RenderPageHeader("Entry Points","",['Synchronise','Create'])}}
{% endblock %}

{% block main_page %}
  <p>The list below can be real E164 numbers that will be used in the BU or use numbers that can then be used in Studio to test new call flows before they are promoted to a public  number</p>
  <p>Sycnronise to get a list of numbers configured on the BU and numbers already connected to a POC/Script</p>
  <br>
  <div class="container">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th>Entry point</th>
            <th>Description</th>
            <th>Source</th>
            <th class="col-md-2">Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for item in g.data_model.db_get_list("poc") %}
        <form method="post"  >
        <tr>
            <input type="hidden" name="id" value="{{ item['id'] }}">
            <td>{{ item['name'] }}</td>
            <td>{{ item['description'] }}</td>
            <td>
            {%if item['external_id'] == None %}
            Not synced/internal
            {%else%}
            CXone
            {%endif%}
            </td>
            <td>
              <button type="submit" class="btn btn-link" name="action" value="delete">
              <span class="bi bi-trash3"></span>
            </button>
              <button type="submit" class="btn btn-link"  name="action" value="edit">
              <span class="bi bi-pencil-fill"></span>
            </button>
            </td>
          </tr>
        </form>  
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</form>

{% endblock %}
