{% extends 'base5.html' %}
{% block header %}
<form method="post" >  
  {{ common.def_RenderPageHeader("Projects","",['Create'])}}
{% endblock %}

{% block main_page %}
  <div class="container">
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>Short Name</th>
          <th>Instance Path</th>
          <th>Business Unit</th>
          <th>Connected</th>
          <th>Actions</th>
        </tr>
      </thead>
      </tbody
      {% for item in g.data_model.GetProjectList() %}
      <form method="post"> 
        <input type="hidden" name="id" value="{{ item['id'] }}"></input>
        <tr>
          <td>{{ item['short_name']}}</td>
          <td>{{ item['instance_name'] }}</td>
          <td>{{ item['bu_id'] }}</td>
          {%if item['connected'] == true %}
          <td class="align-items-center">
            <button type="submit" class="btn btn-link" name="action" value="connect">
              <span class="bi bi-cloud-download"></span>
            </button>
          </td>
          {%else%}
          <td class="align-items-center">
            <button type="submit" class="btn btn-link" name="action" value="connect">
              <span class="bi bi-cloud-download"></span>
            </button>
          </td>
          {% endif %}
          <td>
            <button type="submit" class="btn btn-link" name="action" value="delete">
              <span class="bi-trash3"></span>
            </button>
            <button type="submit" class="btn btn-link" name="action" value="edit">
              <span class="bi bi-pencil-fill"></span>
            </button>
          </td>
        </tr>
      </form>

      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}