{% extends 'base5.html' %}
{% block header %}
<form method='post' action="{{url_for('project.project')}}">
  {%if (g.item_selected == None) %}
    {{ common.def_RenderPageHeader("Create Project","item",['Cancel','Create'])}}
  {% else %}
    {{ common.def_RenderPageHeader("Update Project","item",['Cancel','Update'])}}
  {% endif%}
{% endblock %}

{% block main_page %}
  {% set item = g.data_model.GetProject(g.item_selected) %}
  {{ common.def_RenderInputAttribute(">Project ID","HIDDEN","id",item['id']) }}
  {{ common.def_RenderInputAttribute("Project Name","INPUT_NEW_ONLY","short_name",item['short_name']) }}
  {{ common.def_RenderInputAttribute("Instance path","INPUT","instance_name",item['instance_name']) }}
  {{ common.def_RenderInputAttribute("Business Unit ID","INPUT","bu_id",item['bu_id']) }}
  {{ common.def_RenderInputAttribute("Description","TEXTAREA","description",item['description']) }}
  <div class="form-group">
    <label for="tts_voice">Voice actor:</label>
    <select class="form-control" id="tts_voice" name="tts_voice" value="{{ item['tts_voice'] }}">
      <option value="no-voice">Upload wav files manually</option>
      <option value="male-cxone">Built-in CX One TTS - Male</option>
      <option value="female-cxone">Built-in CX One TTS - Female</option>
      <option value="male-azure">Standard Australian - Male</option>
      <option value="female-azure">Standard Australian - Female</option>
    </select>
  </div>
  {# This is for future development#}
  {{ common.def_RenderInputAttribute(">Project Type","HIDDEN","deployment_type","default") }}
  {{ common.def_RenderInputAttribute("Integration / Deployment User Key","INPUT","user_key",item['user_key']) }}
  {{ common.def_RenderInputAttribute("Integration / Deployment User Secret","PASSWORD","user_secret",item['user_secret']) }}
  </form>
{% endblock %}


      