{% extends 'base5.html' %}

{% block header %}
  <form method='post' action="{{url_for('queue.queue')}}">
    {%if (g.item_selected == None) %}
      {{ common.def_RenderPageHeader("Create Queue Action","queueaction",['Cancel','Create'])}}
    {% else %}
      {%if action == "inqueue" %}
        {{ common.def_RenderPageHeader("Add in-queue hours of operation check when " + state,"queueaction_hoo_in",['Cancel','Create'])}}
      {% elif  action == "prequeue" %}
        {{ common.def_RenderPageHeader("Add pre-queue hours of operation check when "+ state,"queueaction_hoo_pre",['Cancel','Create'])}}
      {% else %}
        {{ common.def_RenderPageHeader("Update Queue Action","queueaction",['Cancel','Update'])}}
      {% endif %}
      
      
    {% endif%}
{% endblock %}

{% block main_page %}
{% set item = g.data_model.GetItem("queueaction",g.item_selected) %}
{{ common.def_RenderInputAttribute("Item ID","HIDDEN","id",item['id']) }}
{{ common.def_RenderInputAttribute("Queue ID","HIDDEN","queue_id",queue_id) }}
{{ common.def_RenderInputAttribute("Hoo state","HIDDEN","state",state) }}



  <label for="queueActionsDropdown">Action to perform in queue:</label>
  <br>
  <select class="form-control" id="queueActionsDropdown" name="queueActionsDropdown">
    <option value="INVALID">Not configured</option>
  </select>
  <br>
  <div id="paramsList"></div>

  <script>

  document.addEventListener('DOMContentLoaded', function() {
    {%if action == "inqueue" or action == "prequeue" %}
      fetch_url = '/services/v1/get_hoo_action_options';
    {% else %}
      fetch_url = '/services/v1/get_queue_action_options';
    {% endif %}
    
    fetch(fetch_url)
        .then(response => response.json())
        .then(data => populate_dropdown(data))
        .catch(error => console.error('Error fetching data:', error));

        const item_selected = document.getElementsByName('id')[0].value;
        console.log("item_selected: " + item_selected);
        populate_form(item_selected,false)
  });

  document.getElementById('queueActionsDropdown').addEventListener('change', function() {
    const item_selected = document.getElementsByName('id')[0].value;
        console.log("item_selected: " + item_selected);
        populate_form(item_selected,true)
        });
  
  function populate_dropdown(data) {
    const dropdown = document.getElementById('queueActionsDropdown');
    dropdown.innerHTML = '';
    data.forEach(item => {
        const [name, description] = item.split('|');
        const option = document.createElement('option');
        option.value = name;
        option.textContent = description;
        dropdown.appendChild(option);

    document.getElementById('queueActionsDropdown').options[0].selected = true;

    });
  }

  async function populate_form(item_selected,rebuild_params) {
    console.log("populate_form");

    const formElement = document.getElementById('paramsList');
    item_type = ""; 
    item_params = [];
    let item;
    let item_id;

    if ((item_selected == "") || (item_selected == "None"))
    {
        console.log("item_selected == None");
        item_type = document.getElementById('queueActionsDropdown').value;
    } else {
      console.log("item_selected != None");
      console.log("item: " + item);
      console.log("Not await, fetch_item" + item_id + " " + item_type);
      item = await fetch_item(item_selected,"queueaction");
      if (rebuild_params == false)
      {
        console.log("Using item params and type");
        item_type = item['action']; 
        item_params = item['param1'].split(','); 
      }
      else
      {
        console.log("Using the selected dropdown item"+ item_type);
        item_type = document.getElementById('queueActionsDropdown').value;
        console.log("Using the selected dropdown item"+ item_type);
        item_params = [];
      }

 
    }
    console.log("item_type: " + item_type);
    console.log("item_params: " + item_params);  

    formElement.innerHTML = '';
    fetch(`/services/v1/get_params/${item_type}`)
          .then(response => response.json())
          .then(params => { params.forEach((param, index) => {
            const [description, type] = param.split('|');
            render_input(formElement, description, type, item_params[index], index);
          });
          })
          .catch(error => console.error('Error fetching parameters:', error));
 
    if (rebuild_params == false)
    {
      console.log("Updating dropdown to item_type (DOM loading): " + item_type);
      dropdown = document.getElementById('queueActionsDropdown');
      dropdown.value = item_type;
    }
    console.log("Returning from populate_form");
  }

  function render_input(parent ,description, type, value, index) {
    const label = document.createElement('label');
    label.textContent = description;
    label.htmlFor = `param${index + 1}`;

    const input = document.createElement('input');
    //<input type="text" class="form-control" id="{{action_name}}" name="{{action_name}}" value="{{default_value}}">
    input.type = "text";
    input.className = "form-control";
    input.name = `param${index + 1}`;
    input.id = `param${index + 1}`;
    input.setAttribute('input_validate_type',type);
    if (value != null)
    {
      input.value = value;
    }

    parent.appendChild(label);
    parent.appendChild(document.createElement('br')); // Add a line break for better formatting
    parent.appendChild(input);
    parent.appendChild(document.createElement('br')); // Add a line break for better formatting
  }

  async function fetch_item(item_id,item_type) {
    console.log("fetch_item" + item_id + " " + item_type);
    try
    {
      const response = await fetch(`/services/v1/get_item/${item_type}/${item_id}`);
      const data = await response.json();
      console.log("return " + JSON.stringify(data));
      return data;
    }
    catch (error)
    {
      console.error('Error fetching data:', error);
    }
  }

</script>


{% endblock %}

