{% extends 'base5.html' %}

{% block header %}
  <form method='post' action="{{url_for('queue.queue')}}">
    {%if (g.item_selected == None) %}
      {{ common.def_RenderPageHeader("Create Queue Action","queueaction",['Cancel','Create'])}}
    {% else %}
      {{ common.def_RenderPageHeader("Update Queue Action","queueaction",['Cancel','Update'])}}
    {% endif%}
{% endblock %}

{% block main_page %}
{% set item = g.data_model.GetItem("queueaction",g.item_selected) %}
{{ common.def_RenderInputAttribute("Item ID","HIDDEN","id",item['id']) }}
{{ common.def_RenderInputAttribute("Queue ID","HIDDEN","queue_id",queue_id) }}



  <label for="queueActionsDropdown">Action to perform in queue:</label>
  <select class="form-control" id="queueActionsDropdown" name="queueActionsDropdown">
    <option value="INVALID">Not configured</option>
  </select>
  <br>
  <div id="paramsList"></div>




  <script>
  
  document.getElementById('queueActionsDropdown').addEventListener('change', function() {
            const selectedItem = this.value;
            fetch(`/services/v1/get_params/${selectedItem}`)
                .then(response => response.json())
                .then(data => populateParams(data))
                .catch(error => console.error('Error fetching parameters:', error));
        });
  
document.addEventListener('DOMContentLoaded', function() {
    fetch('/services/v1/get_queue_actions')
        .then(response => response.json())
        .then(data => populateDropdown(data))
        .catch(error => console.error('Error fetching data:', error));
  });

  function populateDropdown(data) {
    const dropdown = document.getElementById('queueActionsDropdown');
    dropdown.innerHTML = '';
    data.forEach(item => {
        const [name, description] = item.split('|');
        const option = document.createElement('option');
        option.value = name;
        option.textContent = description;
        dropdown.appendChild(option);

    document.getElementById('queueActionsDropdown').options[0].selected = true;

    });
  }
  function render_input(parent ,description, type, index) {
    const label = document.createElement('label');
    label.textContent = description;
    label.htmlFor = `param${index + 1}`;

    const input = document.createElement('input');
    //<input type="text" class="form-control" id="{{action_name}}" name="{{action_name}}" value="{{default_value}}">
    input.type = "text";
    input.className = "form-control";
    input.name = `param${index + 1}`;
    input.id = `param${index + 1}`;
    input.value = "";

    parent.appendChild(label);
    parent.appendChild(document.createElement('br')); // Add a line break for better formatting
    parent.appendChild(input);
    parent.appendChild(document.createElement('br')); // Add a line break for better formatting
  }

  function populateParams(data) {
    const paramsList = document.getElementById('paramsList');
    paramsList.innerHTML = ''; // Clear previous parameters

    if (data.length == 0)
    {
      const label_1 = document.createElement('label');
      label_1.textContent = "This action does not require any parameters";
      paramsList.appendChild(label_1);
    }

    data.forEach((param, index) => {
      const [description, type] = param.split('|');
      render_input(paramsList,description,type, index);
   
    });
  }
  
  </script>


{% endblock %}

