{% extends 'base5.html' %}

{% macro def_RenderHooPanel(title,hoo_actions,submitPrefix) %}
<div class="card">
  <h6 class="card-header d-flex justify-content-between align-items-center">
    {{ title }}:
    <div>
      <select class="" id="{{submitPrefix}}State" name="{{submitPrefix}}State" >
      <option value="Closed">Closed</option>
      <option value="Emergency">Emergency</option>
      <option value="Meeting">Meeting</option>
      <option value="Holiday">Holiday</option>
      <option value="Weather">Weather</option>
      <option value="Other">Other</option>
      <option value="Open">Open</option>
      <option value="Unattended">Unattended</option>
      </select>
      <button type="submit" class="btn btn-primary btn-sm float-end" name="action" value="queue_item_{{submitPrefix}}action_new">
        Add
      </button>
   </div>
  </h6>

  <div class="card-body">
  {%if hoo_actions == None or hoo_actions == ""%}
    {% if submitPrefix == "prequeue" %}
    **Before entering queue check options for skill based hours of operation**
    {% else %}
    **Checks the Hours of operation after each queue action**
    {% endif %} 
  {%else %}
    {% set list = hoo_actions.split('|') %}
    {%for item in list%}
    {{ common.def_RenderInputAttribute(item,"BUTTONLIST","item_" + submitPrefix + "_remove_"+item.split(',')[0] ,"Remove") }}
    <br>
    {%endfor%}

  {% endif %}
  </div>
</div>
{% endmacro %}

{% macro def_RenderQueueActions() %}
{% set queue_actions = g.data_model.GetListFilteredBy("queueaction",{'queue_id' : g.item_selected }) %}
<br>
<br>  
<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>Queue Action</th>
        <th>Configured Parameters and description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% if queue_actions|length  > 0 %}
    {% for action_item in queue_actions %}
    <form method="post" >
      <tr>
        <input type="hidden" name="action_id" value="{{ action_item['id'] }}">
        <input type="hidden" name="queue_id" value="{{ action_item['queue_id'] }}">
        <td>{{action_item['action']}}</td>
        <td>{{action_item['param1']}}</td>
        <td>
      <button type="submit" class="btn btn-link" name="action" value="queue_action_up">
        <span class="bi bi-arrow-bar-up"></span>
      </button>
      <button type="submit" class="btn btn-link"  name="action" value="queue_action_down">
        <span class="bi bi-arrow-bar-down"></span>
      </button>
      <button type="submit" class="btn btn-link"  name="action" value="queue_action_delete">
        <span class="bi bi-trash3"></span>
      </button>
      <button type="submit" class="btn btn-link"  name="action" value="queue_action_edit">
        <span class="bi bi-pencil-fill"></span>
      </button>
        </td>
      </tr>
    </form>
    {% endfor %}
    {%endif%}
    </tbody>
  </table>
</div>
{% endmacro %}


{% block header %}
<form method='post' action="{{url_for('queue.queue')}}">
  {%if (g.item_selected == None) %}
    {{ common.def_RenderPageHeader("Create Queue","item",['Cancel','Create'])}}
  {% else %}
    {{ common.def_RenderPageHeader("Update Queue","item",['Cancel','Update'])}}
  {% endif%}
{% endblock %}

{% block main_page %}
  {% set item = g.data_model.GetItem("queue",g.item_selected) %}
  
  {{ common.def_RenderInputAttribute("ID","HIDDEN","id",item['id']) }}
  {{ common.def_RenderInputAttribute("SKILLS_LIST","HIDDEN","skills",item['skills']) }}
  {{ common.def_RenderInputAttribute("Queue Name","INPUT_NEW_ONLY","name",item['name']) }}
  {% if (g.item_selected != None) %}
    {# skills panel#}
    <div class="card">
      <h6 class="card-header d-flex justify-content-between align-items-center">Attached Skill(s):
        <div>
          <select class="gap-3" id="new_skill" name="new_skill">
          <option value="">*None*</option>
          {%for skill in g.data_model.GetList("skill") %}
            <option value="{{skill['id']}}">{{skill['name']}}</option>
          {%endfor%}
          </select>
          <button type="submit" class="btn btn-primary btn-sm" name="action" value="queue_item_skill_new">Add</button>
        </div>
      </h6>
    <div class="card-body">
    {%if item['skills'] == None or item is undefined %}**Select and add new skill**
    {%else%}
      {% set activeSkills = item['skills'].split(',') %}
      {%for skill in g.data_model.GetList("skill") %}
      {%if (skill['id']|string in activeSkills )%}
      {{ common.def_RenderInputAttribute(skill['name'],"BUTTONLIST","queue_item_skill_remove_"+(skill['id']|string) ,"Remove") }}

      <br>
      {%endif%}
      {%endfor%}
    {%endif%}
    </div>
    </div>
    {# End skills panel#}
    <br>
    Queue hours of operation:
    {{ common.def_RenderInput("HOO_LOOKUP","hoo",item['queuehoo']) }}
    <br>
    {% set test = item['prequeehooactions'] %}
    {{def_RenderHooPanel('Hours of operation checks prior to queueing',test,'prequeue')}}
    <br>
    {{def_RenderHooPanel('Hours of operation checks whilst call is queueing',item['queehooactions'],'inqueue')}}
    <div>
    {{ def_RenderQueueActions()}}
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
      <button type="submit" class="btn btn-primary btn-sm px-4 gap-3  pull-right" name="action" value="queue_action_new">Add Action</button>
    </div> 
  {% endif %}
</form>
{% endblock %}


      