{% extends 'base5t.html' %}
{% block main_page %}
<!doctype html>
<html lang="en">
<head>
    <title>CX Tools - deployment</title>
</headhead>        
    
<body>

    <form method='post' action="{{url_for('setup')}}">
      <div class="card" >
        <b><p class="card-header bg-primary-subtle border border-primary-subtle">Application Configuration Setup</p></b>
        <div class="card-body" >
      {%if g.data_model.IsAuthorisedPermission("ADMIN") %}
      {{ common.def_RenderInputAttribute("Azure TTS Key","INPUT","tts_key","") }}
      {{ common.def_RenderInputAttribute("Integration Key","INPUT","nice_key","") }}
      {{ common.def_RenderInputAttribute("Integration Secret","INPUT","nice_secret","") }}
      {{ common.def_RenderInputAttribute("Integration Verification","INPUT","verify","") }}
      {%else%}
      You are not allowed to access this page - please contact your administrator
      {%endif%}
      *These details can only be added once - redeploy app to reinitiate these details, or contact cai.wallisjones@optus.com.au<br>
      <br>
      **This page will be restricted if application is deployed in production mode <br>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
        <button type="submit" class="btn btn-primary btn-med px-4 gap-3">Initialise</button>
      </div>  
    </div>  
  </div>

    </form>
   </div>
   <div id="content">
        <!-- We'll fill this with content -->
    </div>
  </body>
</html>
{% endblock %}