{% extends 'base5.html' %}

{% block header %}
<form method='post' action="{{url_for('skill')}}">
  {%if (g.item_selected == None) %}
    {{ common.def_RenderPageHeader("Skill","item",['Cancel','Create'])}}
  {% else %}
    {{ common.def_RenderPageHeader("Edit Skill","item",['Cancel','Update'])}}
  {% endif%}
{%endblock%}

{% block main_page %}
    {% set item = g.data_model.GetItem("skill",g.item_selected) %}
    {{ common.def_RenderInputAttribute(">ID","HIDDEN","id",item['id']) }}
    {{ common.def_RenderInputAttribute("Name","INPUT","name",item['name']) }}
    {{ common.def_RenderInputAttribute("Description","TEXTAREA","description",item['description']) }}
    {% if item is not none %}
      {{ common.def_RenderInputAttribute("In Contact ID","INPUT_NEW_ONLY","external_id",item['external_id']) }}
    {% endif %}  
</form>
{% endblock %}


      