{% extends 'base5.html' %}

{% block header %}
<form method='post' action="{{url_for('skill.skill')}}">
  {%if (g.item_selected == None) %}
    {{ common.def_RenderPageHeader("Skill","item",['Cancel','Create'])}}
  {% else %}
    {% set item = g.data_model.db_get_item("skill",g.item_selected) %}
    {%if item['external_id'] is not none %}
      {{ common.def_RenderPageHeader("Edit Skill","item",['Cancel','Update','Linked Details'])}}
    {% else %}
      {{ common.def_RenderPageHeader("Edit Skill","item",['Cancel','Update'])}}
    {% endif %}
  {% endif%}
{%endblock%}

{% block main_page %}
    {% set item = g.data_model.db_get_item("skill",g.item_selected) %}
    {{ common.def_RenderInputAttribute(">ID","HIDDEN","id",item['id']) }}
    {{ common.def_RenderInputAttribute("Name","INPUT","name",item['name']) }}
    {{ common.def_RenderInputAttribute("Description","TEXTAREA","description",item['description']) }}
    <div class="form-group">
      <label for="skill_type">Skill Type:</label>
      <select class="form-control" id="skill_type" name="skill_type" selected="{{ item['skill_type'] }}" {%if item is not none and item['external_id'] is not none %} disabled {% endif %}  >
        <option value="Voice" {%if item['skill_type'] == 'Voice' %} selected {% endif %} >Voice</option>
        <option value="Voicemail" {%if item['skill_type'] == 'Voicemail' %} selected {% endif %} >Voicemail</option>
        <option value="Outbound" {%if item['skill_type'] == 'Outbound' %} selected {% endif %} >Outbound</option>
        <option value="Digital" {%if item['skill_type'] == 'Digital' %} selected {% endif %} >Digital</option>
      </select>
    </div>
    <br>
    {% if item is not none %}
      {{ common.def_RenderInputAttribute("In Contact ID","INPUT_NEW_ONLY","external_id",item['external_id']) }}
    {% endif %}  
</form>
{% endblock %}


      