{% extends 'base5t.html' %}
{% block main_page %}
<!doctype html>
<html lang="en">
<head>
    <title>CX Tools - deployment</title>
</headhead>        
    
<body>

    <form method='post' action="{{url_for('tools_main')}}">
      <div class="card" >
        <b><p class="card-header bg-primary-subtle border border-primary-subtle">Additional configuration tools</p></b>
        <div class="card-body" >
      {%if g.data_model.is_authorised("ADMIN") %}
      These components help with typical deployment tasks
      {{ common.def_RenderInputAttribute("Load Address book","BUTTONLIST","address_book","Upload,Get Template" )}}
      <br>
      {{ common.def_RenderInputAttribute("Load Dispositions","BUTTONLIST","dispositions","Upload,Get Template" )}}
      <br>
      {{ common.def_RenderInputAttribute("Load Tags","BUTTONLIST","tags","Upload,Get_Template" )}}
      <br>
      *These details can only be added once - redeploy app to reinitiate these details, or contact cai.wallisjones@optus.com.au<br>
      <br>
      **This page is in BETA please use carefully <br>
    </div>  
  </div>
  {%else%}
  These features currently require administration access. Please contact your administrator for assistance.
  {%endif%}
    </form>
   </div>
   <div id="content">
        <!-- We'll fill this with content -->
    </div>
  </body>
</html>
{% endblock %}